 /* reset code starts */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* reset code ends */

h1{
    text-align: center;
    font-size: 3rem;
}

/* post starts */
.posts{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.post{
    width: 23%;
    margin: .3rem;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    border-radius: 10px;
    transition: all 0.4s;
}
.post:hover{
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.8);
}
/* post ends */


/* responsive part starts */
@media screen and (max-width: 992px){
    .post{
        width: 48%;
    }
}
@media screen and (max-width: 600px){
    .post{
        width: 100%;
    }
}
/* responsive part ends */